<div class="patients-container">
  <div class="container-padding">
    <div class="patients-header">
      <h2>Patients</h2>
      <button class="add-button" >Add new patient</button>
    </div>

    <div class="patients-container-row">
      <!-- Left sidebar for patient selection -->
      <ul class="patients-list" *ngIf="patients.length > 0; else noPatients">
        <li class="patient" *ngFor="let patient of patients" (click)="selectPatient(patient)">
          <p>Patient: {{ patient.name }} {{ patient.lastName}}</p>
        </li>
      </ul>
      <ng-template #noPatients>
        <p>No patients available</p>
      </ng-template>

      <!-- Right section for patient details -->
      <div class="patient-details" *ngIf="selectedPatient">
        <div class="info-section">
          <div class="section-column">
            <p>Name: {{ selectedPatient.name }}</p>
            <p>Birth Date: {{ selectedPatient.birthDate }}</p>
          </div>
          <div class="section-column">
            <p>Last Name: {{ selectedPatient.lastName }}</p>
            <div class="section-row">
              <p>Age: {{ patientAge }} </p>
              <p> ID:{{ selectedPatient.id }}</p>
            </div>
          </div>
        </div>

        <hr>

        <div class="section-row">
          <p>Caregiver</p>
          <ng-container *ngIf="selectedCaregiver; else caregiverSelect">
            <!-- Mostrar solo el nombre del cuidador asignado -->
            <p>{{ selectedCaregiver.name }}</p>
          </ng-container>
        
          <ng-template #caregiverSelect>
            <!-- Mostrar el mat-select solo si no hay cuidador asignado -->
            <mat-select [(value)]="selectedCaregiver" [placeholder]="'Not configured'">
              <mat-option [value]="null">Not configured</mat-option>
              <mat-option *ngFor="let caregiver of caregivers" [value]="caregiver">
                {{ caregiver.viewValue }} <!-- Mostrar el nombre del cuidador -->
              </mat-option>
            </mat-select>
          </ng-template>
        </div>
        

        <hr>

        <div class="section-row">
          <p>Relative</p>
          <ng-container *ngIf="selectedPatient && selectedPatient.relative; else relativeSelect">
            <!-- Mostrar solo el nombre del familiar asignado -->
            <p>{{ selectedPatient.relative.name }} {{ selectedPatient.relative.lastName }} ({{ selectedPatient.relative.relationship }})</p>
          </ng-container>
        
          <ng-template #relativeSelect>
            <!-- Mostrar el mat-select solo si no hay familiar asignado -->
            <mat-select [(value)]="selectedRelative" [placeholder]="'Not configured'">
              <mat-option [value]="null">Not configured</mat-option>
              <mat-option *ngFor="let relative of relatives" [value]="relative.value">
                {{ relative.viewValue }}
              </mat-option>
            </mat-select>
          </ng-template>
        </div>

        <!-- Medication Alerts Section -->
        <div class="medication-alerts">
          <h3>Medication Alerts</h3>
        
          <mat-table [dataSource]="displayedAlerts" class="medication-alerts-table" matSort>
            <!-- Nombre del medicamento -->
            <ng-container matColumnDef="medication">
              <mat-header-cell *matHeaderCellDef> Medication </mat-header-cell>
              <mat-cell *matCellDef="let alert"> {{ alert.medicationName }} </mat-cell>
            </ng-container>
        
            <!-- Dosis -->
            <ng-container matColumnDef="dose">
              <mat-header-cell *matHeaderCellDef> Dose </mat-header-cell>
              <mat-cell *matCellDef="let alert"> {{ alert.dosage }} </mat-cell>
            </ng-container>
        
            <!-- Hora de la próxima dosis -->
            <ng-container matColumnDef="nextDose">
              <mat-header-cell *matHeaderCellDef> Next Dose </mat-header-cell>
              <mat-cell *matCellDef="let alert"> {{ alert.scheduleTime  }} </mat-cell>
            </ng-container>
        
            <!-- Acciones -->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let alert">
                <button mat-raised-button color="primary" (click)="editAlert(alert)">Edit</button>
                <button mat-raised-button color="warn" (click)="deleteAlert(alert)">Delete</button>
              </mat-cell>
            </ng-container>
        
            <!-- Cabecera de la tabla -->
            <mat-header-row *matHeaderRowDef="['medication', 'dose', 'nextDose', 'actions']"></mat-header-row>
            <!-- Filas de la tabla -->
            <mat-row *matRowDef="let row; columns: ['medication', 'dose', 'nextDose', 'actions'];"></mat-row>
          </mat-table>
        </div>

       <!-- Health Data Section -->
        <!-- 
        <div class="health-data">
          <h3>Health Data</h3>
          <div class="section-row">
            <div class="section-row" style="gap: 5px;">
              <p><strong>Last Temperature reading:</strong></p>
              <ng-container *ngIf="selectedPatient && selectedPatient.temperature && selectedPatient.temperature.length > 0; else noTemperatureData">
                <p>{{ selectedPatient.temperature[selectedPatient.temperature.length - 1].value }} °C</p>
                <p [ngClass]="{
                  'status': true, 
                  'unstable': selectedPatient.temperature[selectedPatient.temperature.length - 1].value < 36.0 || 
                              selectedPatient.temperature[selectedPatient.temperature.length - 1].value > 37.5
                }">
                  {{ 
                    selectedPatient.temperature[selectedPatient.temperature.length - 1].value < 36.0 || 
                    selectedPatient.temperature[selectedPatient.temperature.length - 1].value > 37.5 ? 'Unstable' : 'Stable' 
                  }}
                </p>
              </ng-container>
              <ng-template #noTemperatureData>
                <p>No temperature data available</p>
              </ng-template>
            </div>
          </div>
          
          <div class="section-row">
            <div class="section-row" style="gap: 5px;">
              <p><strong>Last Heart Rate reading:</strong></p>
              <ng-container *ngIf="selectedPatient && selectedPatient.heartRate && selectedPatient.heartRate.length > 0; else noHeartRateData">
                <p>{{ selectedPatient.heartRate[selectedPatient.heartRate.length - 1].value }} bpm</p>
                <p [ngClass]="{
                  'status': true, 
                  'unstable': selectedPatient.heartRate[selectedPatient.heartRate.length - 1].value < 60 || 
                              selectedPatient.heartRate[selectedPatient.heartRate.length - 1].value > 100
                }">
                  {{ 
                    selectedPatient.heartRate[selectedPatient.heartRate.length - 1].value < 60 || 
                    selectedPatient.heartRate[selectedPatient.heartRate.length - 1].value > 100 ? 'Unstable' : 'Stable' 
                  }}
                </p>
              </ng-container>
              <ng-template #noHeartRateData>
                <p>No heart rate data available</p>
              </ng-template>
            </div>
          </div>
        </div> 
        -->
       
        <hr>

        <div class="buttons-section">
          <div class="section-row">
            <a mat-fab extended routerLink=".">
              <mat-icon>delete</mat-icon>
              Delete patient
            </a>
            <p>This action will delete all the patient’s data.</p>
          </div>
          <button type="submit" class="save-button"> Save </button>
        </div>
      </div>
    </div>
  </div>
</div>
