<div class="dashboard-container">
  <div class="dashboard-padding">
    <div class="dashboard-column">
      <div class="dashboard-alerts">
        <h2>Alerts</h2>
      </div>
      
      <div class="dashboard-caregivers">
        <h2>Caregivers</h2>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let caregiver of caregivers" [expanded]="expandedCaregiver === caregiver.id" (opened)="expandedCaregiver = caregiver.id" (closed)="expandedCaregiver = null">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ caregiver.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p style="font-weight: bold;"> Patients: </p>
            <div *ngFor="let patient of caregiver.patients">
              <p>{{ patient.name }}</p>
            </div>
            <div *ngIf="caregiver.patients.length === 0">
              <p>No patients assigned.</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div class="dashboard-column">
      <div class="dashboard-row">
        <div class="dashboard-general">
          <h2>Total Patients</h2>
        </div>

        <div class="dashboard-medication">
          <h2>Medication Alerts</h2>
          <!-- Iterar sobre todos los pacientes -->
          <div *ngFor="let medicationAlertGroup of allMedicationAlerts">
            <!-- Iterar sobre las alertas de cada paciente -->
            <div *ngFor="let medicationAlert of medicationAlertGroup.alerts">
              <div class="alert-card">
                <div class="alert-border">
                  <div class="alert-left">
                    <p>{{ medicationAlert.hour }}</p>
                  </div>
                  <div class="alert-right">
                    <div class="patient-info">
                      <!-- Mostrar el nombre del paciente de la iteración actual -->
                      <p class="patient-name">{{ medicationAlertGroup.patientName }}</p>
                    </div>
                    <div class="medication-info">
                      <!-- Mostrar nombre del medicamento y dosis -->
                      <p class="medication-dose">{{ medicationAlert.medicationName }} {{ medicationAlert.dose }} mg</p>
                    </div>
                  </div>
                </div>
                <div class="menu">
                  <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="markAsTaken(medicationAlert)">Mark as Taken</button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div class="dashboard-vitals">
        <div class="vitals-header">
          <div style="display: flex; flex-direction: column; align-self: flex-start; gap: 0; padding: 0; margin: 0;">
            <h2>Vital Signs Monitoring</h2>
            <p class="date">{{ formattedDate }}</p>
          </div>
          <mat-form-field>
            <mat-select [(value)]="selectedPatient" [placeholder]="'All patients'">
              <mat-option [value]="null">All patients</mat-option>
              <mat-option *ngFor="let patient of patients" [value]="patient.value">
                {{ patient.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="temperature-chart">
          <p>Temperature (°C)</p>
          <canvas #temperatureChart></canvas>
        </div>
        <div class="pulse-chart">
          <p>Pulse (bpm) </p>
          <canvas #pulseChart></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
