.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #4f4f4f;
  align-items: center;
  background-color: #F2F7FC;
  font-family: Inter, sans-serif;
  padding: 30px;
  box-sizing: border-box;
}

.dashboard-padding{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 30px;
}

.dashboard-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.dashboard-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  flex: 1;
}

.dashboard-alerts,
.dashboard-caregivers{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.dashboard-general {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  height: 100%;
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
}

.dashboard-medication{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  height: 100%;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.dashboard-vitals{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.vitals-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}


.vitals-header 
h2, p{
  margin: 0;
  padding: 0;
}

h2{
  font-size: 18px;
}

.temperature-chart,
.pulse-chart {
  max-height: 120px;
  width: auto;
  height: 40%;
  font-size: small;
  padding-bottom: 10px;
  box-sizing: border-box;
}

canvas {
  width: 100%;
  height: auto;
}

.dashboard-medication {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.alert-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.alert-border {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch; /* Permite que los hijos se estiren */
  border: #5C9BD5 1px solid;
  border-radius: 15px;
  width: 100%;
}

.alert-left {
  background-color: #5C9BD5;
  border-radius: 10px 0 0 10px;
  flex: 1; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.alert-right {
  display: flex;
  flex-direction: column;
  flex: 4; 
  padding: 10px;
  background-color: white;
  border-radius: 0 15px 15px 0;
}

.alert-left p {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  color: white;
}

.patient-info {
  display: flex;
  justify-content: space-between;
}

.patient-name {
  font-weight: bold;
}

.caregiver-name {
  font-size: 12px;
  color: #959595;
}


.medication-name {
  font-weight: bold;
}

.medication-dose {
  font-size: 14px;
  color: #959595;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

mat-icon {
  cursor: pointer;
  color: #5C9BD5;
}

mat-menu {
  min-width: 200px;
}

mat-menu button {
  font-size: 14px;
  color: #4f4f4f;
}

mat-expansion-panel {
  background-color: #F2F7FC !important;
  color: #4F4F4F !important;
  border-radius: 4px; 
  margin-bottom: 10px;
  box-shadow: none !important; 
}


mat-expansion-panel-header {
  background-color: #F2F7FC !important; 
  color: #4F4F4F !important;
  font-weight: bold;
}

mat-panel-title,
mat-panel-description {
  color: #4F4F4F !important;
}

mat-expansion-panel.mat-expanded {
  background-color: white !important; 
}

mat-expansion-panel-content,
mat-expansion-panel-body {
  background-color: white !important; 
  color: #4F4F4F !important; 
  margin: 20px 0 0 0 !important; 
  padding: 10px; 
}

.dashboard-alerts {
  overflow-y: auto; /* Scroll vertical */
  scrollbar-width: thin; /* Barra delgada en Firefox */
  scrollbar-color: #B6BEC5 #F2F7FC; /* Color de la barra y fondo en Firefox */
}

.dashboard-alerts::-webkit-scrollbar {
  width: 8px; /* Anchura de la barra */
}

.dashboard-alerts::-webkit-scrollbar-thumb {
  background: #B6BEC5; /* Color de la barra */
  border-radius: 4px; /* Bordes redondeados */
}

.dashboard-alerts::-webkit-scrollbar-track {
  background: #F2F7FC; /* Fondo de la barra */
}