.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  align-items: center;
  background-color: #F2F7FC;
  font-family: Inter, sans-serif;
}
