
html, body { height: 100%}
body { margin: 0; font-family: Inter, sans-serif !important;}

.login-form .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label,
.recovery-form .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label,
.register-form .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgb(0 0 0 / 40%);
  font-family: Inter, sans-serif;
}

.login-form .mdc-text-field--filled:not(.mdc-text-field--disabled),
.recovery-form .mdc-text-field--filled:not(.mdc-text-field--disabled),
.register-form .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border: 1px solid rgb(0 0 0 / 40%);
  border-radius: 8px;
  background-color: white;
  font-family: Inter, sans-serif;
}

.login-form .mat-mdc-icon-button.mat-mdc-button-base,
.recovery-form .mat-mdc-icon-button.mat-mdc-button-base,
.register-form .mat-mdc-icon-button.mat-mdc-button-base {
  color: rgb(0 0 0 / 40%);
  font-family: Inter, sans-serif;
}

.login-form .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input,
.recovery-form .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input,
.register-form .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: black;
}

.login-options .mat-mdc-checkbox .mdc-form-field{
  color: black;
  font-size: 15px;
  font-family: Inter, sans-serif;
}

.login-options .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background{
  border-color: rgb(0 0 0 / 40%);
}



